* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background:whitesmoke ;
  color: black;
  padding-bottom: 50px;
}

header {
  background:black ;
  color: yellow;
  padding: 20px;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 30px;
  max-width: 600px;
  margin: 30px auto;
  background:white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 20px;
  color: yellow;
  text-align: center;
  background-color: black;
  min-height: 20px;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background:black;
  color:yellow;
  padding: 12px;
  border: none;
  border: radius 10px;;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

form button:hover {
  background:black;
}

footer {
  text-align: center;
  margin-top: 40px;
  color:black;
}
